body {
    background: rgb(231, 236, 237);
    margin: 0;
}

#app {
    padding-bottom: 10px;
    max-width: 550px;
    margin: 70px auto;
    border-radius: 2px;
    overflow: hidden;
    border: 1px solid grey;
    display: block;
}

header {
    max-width: 550px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: #6a90d6;
    text-align: center;
}

header h1 {
    display: inline-block;
    color: #323330;
    margin: 1rem auto;
}

#film-list {
    max-width: 550px;
    margin: 0 auto;
}

#film-form {
    max-width: 550px;
    margin: 0 auto;
    display: flex;
    background-color: #FAFAFA;
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 10px;
}

#film-form input {
    flex: 1;
    outline: none;
    transition: all .2s;
}

#film-form button {
    margin-left: 10px;
}

.film-item {
    background: white;
    margin-top: 5px;
    padding: 0 5px;
    height: 60px;
    width: 450px;
    list-style-type: none;
    display: flex;
    border: 1px solid grey;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.star-list {
    margin-top: 25px;
    margin-right: -55px;
    display: flex;
    flex-direction: row-reverse;
    transform: translate(-50%,-50%) ;
}

.star-list input {
    display: none; 
}

.star-list label {
    display: block;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.star-list label:before {
    content: '\f005';
    font-family: fontAwesome;

    display: block;
    font-size: 25px;
    color: grey;
}

.star-list label:after {
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 25px;
    color: gold;
    top: 0;
    opacity: 0;
    transition: .5s;
}

.star-list label:hover:after,
.star-list label:hover ~ label:after,
.star-list input:checked ~ label:after {
    opacity: 1;
}